{#{% extends 'polls/base.html' %}#}
{#{% block title %} Classification {% endblock %}#}
{#{% block content %}#}

{% load staticfiles %}

{#{% extends 'polls/base.html' %}#}
{% include "polls/includes/header.html" %}
{#{% include 'polls/base.html' %}#}

<br/><br/><br/><br/>

<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/table.css' %}">
{#        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navbar.css' %}">#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base.css' %}">#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap-reboot.css' %}">#}

        <script src="{% static 'polls/js/about.js' %}"></script>
        <script src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'polls/js/bootstrap.js' %}"></script>
        <script src="{% static 'polls/js/ajaxcheck.js' %}"></script>
        <script >
            var cur_url = window.location.href;
            var parts=cur_url.split('/');

            var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
            var new_url = cur_url.substring(0,cur_url.lastIndexOf('polls/'))+"polls/download/"+lastSegment;
            {#alert(new_url);#}
        </script>
        {#Title Here!!#}
        <title>{% block title %}Project {% endblock %}</title>

    </head>
    <body>
{#    <script src="{% static 'polls/js/about.js' %}"></script>#}
{#        <script src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>#}
{#        <script src="{% static 'polls/js/bootstrap.js' %}"></script>#}
{#        <script src="{% static 'polls/js/ajaxcheck.js' %}"></script>#}
{#        <script >#}

    <div class="chosen-container-active">
        <p class="h1 text-center border">当前数据集：{{ tableName }}</p>
    </div>

    <div class="container">
        <form method="post" action="">

            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}


            {#calling ajax checks are hard_coded in forms.py#}
            <div class="row">
                 <div class="col-sm-6">
                     <div class="fieldWrapper" style="display:none">
{#                       {{ form.subject.errors }}#}
{#                       <label for="{{ form.subject.id_for_label }}">Email subject:</label>#}
                         {{ form.Classifier }}
                     </div>
                      <div class="fieldWrapper">
{#                       {{ form.subject.errors }}#}
{#                       <label for="{{ form.subject.id_for_label }}">Email subject:</label>#}
                          <P>设置参数：</P>
                          {{ form.classification_parameters }}
                     </div>
                     <div class="fieldWrapper">
{#                       {{ form.subject.errors }}#}
                       <label>请输入标签列名:</label>
                       {{ form.label_name }}
                     </div>
                     <div class="fieldWrapper">
{#                       {{ form.subject.errors }}#}
                        <label>请选择训练比例:</label>

                       {{ form.train_ratio }}
                     </div>

{#                            {% for field in form.visible_fields %}#}
{#                                {% if field == 0 %}#}
{##}
{#                        <div class="form-group">#}
{#                            {{ field.label_tag }}<br>#}
{#                            {{ field }}#}
{#                            {% if field.help_text %}#}
{#                            <small class="form-text text-muted">{{ field.label_tag }}</small>#}
{#                            {% endif %}#}
                        <br>


{#                    {% endfor %}#}
                 </div>
                <div>
                    <h3> 参数介绍:</h3>
                         <small id="classification_parameter_description"><span></span></small>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
    <br>


    <div class="container-fluid">
        {% autoescape off %}
             {{ table }}
        {% endautoescape %}
    </div>

    </body>

</html>
{#{% endblock %}#}

{#{% block extra_js %}#}
<script type="text/javascript">
    ajax_class_change()
    {# Initial here#}
     {#$("#classification_parameter_description span").append("first method");#}
    {#init_classification_parameters("LogisticRegression");#}
</script>
    <script src="{% static 'polls/js/about.js' %}"></script>
        <script src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'polls/js/bootstrap.js' %}"></script>
        <script src="{% static 'polls/js/ajaxcheck.js' %}"></script>
{#        <script src="{% static 'polls/js/ajaxcheck.js' %}"></script>#}
{#{% endblock %}#}
<script src="{% static 'polls/js/jquery.min.js' %}"></script>
<script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
<script src="{% static 'polls/js/respond.min.js' %}"></script>
<script src="{% static 'polls/js/bodypadding.js' %}"></script>